.mychat-icon{
    position: fixed;
    right: 30px;
    bottom: 15px;
    cursor: pointer;
    /* animation-name: mychatboxanimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 5s; */
    
}

.mychat-icon .ion-chatbox{
    font-size: 50px;
    color: #f39c12;
}

.mychat-icon p{
    font-weight: bold;
    text-align: center;
}

.direct-chat{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 300px;
    margin-bottom: 0px;
    display: none;
}

@keyframes mychatboxanimation{
    /* 0%{bottom: 15px;} */
    /* 70%{bottom: 50px;}
    80%{bottom: 15px;} */
    /* 80%{bottom: 20px;}
    100%{bottom: 15px;} */
}