.dashboard-icons{
	line-height: 200%;
	padding-left: 10px;
}

.trash-icon{
	color: crimson !important;
}

.edit-icon{
	color: #337ab7 !important;
}

.star-icon{
	color: #24bc24 !important;
}

.compulsory{
	color: crimson;
}

.image-to-be-edited:hover{
	cursor: pointer;
}

.overlay{
	position: relative;
}

.cover{
/*	width: 100px;
	height: 75px;*/
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
/*	z-index: 300;*/
	background: rgba(158, 158, 158, 0.62);
	opacity: 0;
	transition: opacity 400ms;
	text-align: center;
	padding-top: 15%;
	color: #fff;
	border-radius: 6px;
}

.cover:hover{
	opacity: 1;
}

.single-product-image-wrapper{
	
}

