/* Vega - Orange Color Scheme - Default */

/* f96238, f73b07 => F55145, DC483E*/

/* Special Headings
------------------------------------------------------------------------*/

.block-title:after{ border-bottom:1px solid #8143ac; }

/* Links
------------------------------------------------------------------------*/

a{ color:#8143ac; }
a:hover,
a:focus{ color:#DC483E;}

/* Background Colors for Sections
------------------------------------------------------------------------*/
.bg-primary{ background-color:#8143ac; color:#fff; }

/* Buttons
------------------------------------------------------------------------*/

.btn-primary-custom{ background-color:#8143ac; border-color:#8143ac; color:#fff; }
.btn-primary-custom{ background-color:#8143ac; color:#fff; }
.btn-primary-custom:hover,
.btn-primary-custom:active,
.btn-primary-custom:focus{ background-color:#8143ac; color:#fff; }

/* Forms
------------------------------------------------------------------------*/

.form-control:focus { border-color: #8143ac; -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(249, 98, 56, 0.6); -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(245,81,69, 0.6); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(245,81,69, 0.6); }

/* Header Navigation 
------------------------------------------------------------------------*/

.header{background-color:#8143ac;}


/* Top Navigation
------------------------------------------------------------------------*/

.navbar-nav .dropdown-menu{ border-top:2px solid #8143ac; }
.navbar-custom .dropdown-menu > li > a:hover,
.navbar-custom .dropdown-menu > li:hover > a,
.navbar-custom .dropdown-menu > .open > a{ background:transparent; color:#8143ac; }
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover { color:#8143ac !important; background-color: transparent; }
.navbar-custom .nav > li > a:hover,
.navbar-custom .nav > li > a:focus,
.navbar-custom .nav > .current > a,
.navbar-custom .nav > .active > a,
.navbar-custom .nav > .current-menu-ancestor > a,
.navbar-custom .nav > .open > a{ background-color:transparent; color:#8143ac; }
.navbar-custom .nav > .page-scroll > a:hover,
.navbar-custom .nav > .page-scroll > a.showing{color:#8143ac !important;}

/* Page Banner 
------------------------------------------------------------------------*/

.jumbotron p span{ background-color:#8143ac; }

/* Blog Feed
------------------------------------------------------------------------*/

.blog-feed .entry .entry-content-right:after{ border-bottom:1px solid #8143ac; }

/* Pagination
------------------------------------------------------------------------*/

.posts-pagination-block a:focus,
.posts-pagination-block a:hover{ outline:none; z-index:2; -webkit-box-shadow:0 0 0 0 #8143ac; -moz-box-shadow:0 0 0 0 #8143ac; box-shadow:0 0 0 0 #8143ac; color:#fff; background-color:#8143ac;}

/* Post 
------------------------------------------------------------------------*/

.post-content .post .entry-title:after{ border-bottom:1px solid #8143ac; }

/* Page
------------------------------------------------------------------------*/

.page-content .page .page-title:after{ border-bottom:1px solid #8143ac; }

/* Widgets
------------------------------------------------------------------------*/

.widget-title{ border-bottom:1px solid #8143ac; }
.widget ul li a:focus,
.widget ul li a:hover{ color:#8143ac; }
/*.widget ul li a:before{ color:#8143ac; }*/
/* .widget ul li.recentcomments:before{ color:#8143ac; } */

/* Tag Cloud Widget
------------------------------------------------------------------------*/

.tagcloud a:focus,
.tagcloud a:hover{ background-color:#8143ac; color:#fff; }

/* Icon List
------------------------------------------------------------------------*/
/* .icon-list li .fa{ color:#8143ac; } */

/* Featured Icons / 4 Columns with Icons
------------------------------------------------------------------------*/

.content-icon .icon{ color:#8143ac; }
.content-icon:hover .btn{ background-color:#DC483E; }

/* Front Page - Recent Posts
------------------------------------------------------------------------*/

.recent-entry .recent-entry-image .caption{ background-color:#8143ac; background-color:rgba(120,1,121,0.54); }
.recent-entry .recent-entry-content:after{  border-bottom:1px solid #8143ac; }

/* Comments
------------------------------------------------------------------------*/

h3#comments{ color: #8143ac; }
#respond h3{color: #8143ac;}

/* Footer Widgets
------------------------------------------------------------------------*/

.footer-widgets .widget-title:after{ border-bottom:1px solid #8143ac; }

/* Footer
------------------------------------------------------------------------*/

.footer{ background-color:#8143ac; }

/* Back to Top
------------------------------------------------------------------------*/

/* #back_to_top.show{ -webkit-box-shadow:0 0 0 0 #8143ac; -moz-box-shadow:0 0 0 0 #8143ac; box-shadow:0 0 0 0 #8143ac; }
#back_to_top a{ background-color:#8143ac; color:#fff;  } */

/* MAX WIDTH 767
------------------------------------------------------------------------*/
@media (max-width:767px){
	.navbar-custom .dropdown-menu > li > a:hover,
    .navbar-custom .dropdown-menu > li:hover > a ,
    .navbar-custom .dropdown-menu > .open > a{ color:#fff; background:#8143ac }
    /*.navbar-custom .nav > li > a:hover, 
    .navbar-custom .nav > li > a:focus, */
    .navbar-custom .nav > .current > a, 
    .navbar-custom .nav > .open > a{ background-color:#8143ac; color:#fff; }
}